/* ---------- MAIN ---------- */


/* Dashboard */


.campo {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 600;
  color: #ffc300;
}

.campo-input {
  padding: 10px 12px;
  border: none;
  border-bottom: 2px solid #ffc300;
  background-color: white;
}

.material-icons-outlined {
  line-height: normal;
  text-transform: none;
  transform: none;
  font-style: normal;
  display: block;
  transition: none;
}

.func {
  position: relative;
  height: 130px;
  margin: 20px 0 40px 0;
}

/* Cadastrar Máquinas */


.container-dashboard {
  /* display: flex; */
  height: auto;
  border-radius: 30px;
  padding: 10px;
  width: 90%;
}

.titulo {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 25px;
  padding: 20px;
}

/* .main-title>p {
  font-size: 20px;
  margin-top: 0;
} */

.container-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
  margin-bottom: 20px;
}

.flex-tam1 {
  flex-grow: 1;
}

.name-card {
  display: flex;
  flex-direction: row;
  width: auto;
  color: blue;
  font-size: 30px !important;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  width: 30%;
  /* border: 1px solid #d2d2d3; */
  /* border-radius: 10px; */
  /* box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2); */
  height: auto;
  gap: 10px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px 2px #a9a1a1;
}

.identificacao-maquina {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  gap: 700px;
  width: 100%;
}

.bloco-identificacao {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.infos {
  display: flex;
  width: 100%;
  align-items: flex-start;
  font-size: 15px !important;
}

.card .hard-info {
  font-size: 3rem;
}

.card .hard-info .metric {
  font-size: 1.5rem;
}


/* 
.card:first-child {
  border-left: 7px solid #246dec;
}

.card:nth-child(2) {
  border-left: 7px solid #f5b74f;
}

.card:nth-child(3) {
  border-left: 7px solid #367952;
}

.card:nth-child(4) {
  border-left: 7px solid #cc3c43;
} */

.card>span {
  font-size: 20px;
  font-weight: 600;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner>p {
  font-size: 18px;
}

.card-inner>span {
  font-size: 35px;
}


.container-chart {
  display: flex;
  height: 100%;
  gap: 30px;

}

/* legendas */
.container-legenda{
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: 3px 3px 10px 2px #a9a1a1;
  height: 40px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  margin-left: 50px;
  gap: 70px;
  
}

.bolinha {
  width: 25px;
  height: 25px;
  border-radius: 50%;

}


.amarelo { background-color: yellow; }
.verde { background-color: green; }
.vermelho { background-color: red; }
.laranja { background-color: orange; }