@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");

.mobile {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
 
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20vh;
  
}

a {
  display: flex;
  text-decoration: none;
}

.caixa-header {
  height: 120px;
  width: 100%;
  background-color: #031d44;
}

.ancora-logo {
  display: flex !important;
  color: #fff;
}

.logo {
  padding: 25px;
  /* width: 82px; */
  display: flex;
  flex-direction: row;
  color: #fff;
  transition: 0.4s;
  font-size: 25px;
}

.caixas-infos {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.contatos {
  background-color: white;
  position: relative;
  margin-top: -68px;
  height: 170px;
  width: 200px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}

.icon {
  height: 60px;
  width: 60px;
  margin: 5px;
  margin-left: 70px;
  margin-bottom: 10px;
}

.icon,
.titulo-contatos,
.descricao-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

.titulo-contatos {
  font-weight: 600;
}

/*Inputs de cadastro e texto de formulários*/
.form {
  width: 100%;
  height: auto;
  display: flex;
  /* align-content: space-between; */
  /* flex-wrap: nowrap !important; */
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  align-items: center;
}

.input-gerais {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 60px;
  padding: 0 20px;
  /* margin-left: 70px; */
  justify-content: center;
}

.campo-input input {
  padding: 10px 12px;
  border: none;
  border-bottom: 2px solid #ffc300;
  background-color: white;
}

.btn-cadastrar {
  padding: 10px 12px;
  border: none;
  border-radius: 15px;
  width: 300px;
  margin-top: 30px;
  font-size: 2.45 vh !important;
  display: block;
  cursor: pointer;
  background-color: #ffc300;
  margin-bottom: 5px;
  transition: 0.5s ease-in-out;
  color: #fff;
}

.btn-cadastrar:hover {
  background-color: #ffdd6d;
  color: black;
}

.form-text {
  text-align: justify;
  width: 25%;
  margin-top: 50px;
  margin-left: 20px;
}

.titulo-cadastro {
  font-size: 40px;
  font-weight: 600;
  color: #ffc300;
}

.subtitulo-cadastro {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text-cadastro {
  font-size: 15px;
}

.icon-cadastro {
  margin-top: 10px;
  margin-left: 8px;
}

label {
  font-size: 18px;
  font-weight: 600;
  color: #ffc300;
}

.ancora-cadastrar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/*RESPONSIVIDADE LAPTOP*/
@media (max-width: 1795px) {
  .input-gerais {
    width: 35%;
  }
}

@media (max-width: 1440px) {
  .input-gerais {
    width: 40%;
  }

  @media (max-width: 1024px) {
    .input-gerais {
      width: 50%;
    }
  }
}

/* RESPONSIVIDADE IPAD*/

@media (max-width: 1120px) {
  .campo-input input {
    border: none;
    border-bottom: 2px solid #ffc300;
    background-color: white;
    padding: 15px 0;
  }
}

@media (max-width: 768px) {
  .campo-input input {
    padding: 15px 35px;

  }
}

/* RESPONSIVIDADE MÓVEL */

@media (max-width: 1000px) {
  .caixas-infos {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 55px;
  }

  .mobile {
    display: flex !important;
  }

  .desktop {
    display: none;
  }

  .contatos {
    margin-bottom: 50px;
    background-color: white;
    position: relative;
    top: 15vh;
    height: 170px;
    width: 200px;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 75%);
    border-radius: 15px;
  }

  .form {
    width: 100%;
    flex-direction: column;
    height: auto;
    justify-content: center;
  }

  .form-text {
    width: 66%;
    padding: 45px;
    flex-wrap: wrap;
  }

  .titulo-cadastro {
    position: relative;
    font-size: 36px;
    font-weight: 600;
    top: -50px;
    color: #ffc300;
  }

  .input-gerais {
    width: 65%;
    margin: 0 !important;
    padding: 0 !important;
  }
}