.container-cadastro{
  display: none;
  width: 100%;
  height: auto;
}

.caixa-botao-add{
  display: flex;
  flex-direction: row;
  width: max-content;
  border-radius: 10px;
  padding: 3px;
  cursor: pointer;
  margin: 10px 0px 15px 0px;
  background-color: #a9a1a1;
}

.container-das-infos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 20px;
}

.caixa-infos{
  background-color: antiquewhite;
  box-shadow: 3px 3px 10px 2px #a9a1a1;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 20px;
}

.caracteristicas{
  font-size: 20px;
  color: black;
  width: 100%;
}

.tam01{
  flex-grow: 1;
}

/* Formulario de cadastros  */
.container-formularios-cadas{
  width: 100%;
  box-shadow: 3px 3px 10px 2px #a9a1a1;
  height: auto;
}