li {
  display: flex;
  text-decoration: none;
}

.mostrar-dados-maq {
  display: flex;
  cursor: pointer;
  position: absolute;
  height: 320px;
  width: 450px;
  border: solid 1px black;
  background-color: #ffffff;
}

.btn-add-maq {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  height: auto;
  margin-bottom: 30px;
  height: 30px;
}

.container-cadastrar-maq {
  display: none;
  flex-direction: row;
  overflow-wrap: normal;
  gap: 20px;
  width: 100%;
  height: min-content;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-maq {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 30%;
  height: 300px;
  border: solid 1px #000000;
}

.form-add-serve {
  height: 350px;
  width: 550px;
  position: absolute;
  margin: 150px 100px 100px 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 1px black;
  border-radius: 20px;
  background-color: #ffffff;
  z-index: 10;
  padding: 10px;
  align-items: center;
}

.mini-card-info {
  border: solid 1px black;
  padding: 70px;
  margin-top: 60px;
}

.btn-side{
  display: flex;
  flex-direction: column;
}