/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
}

.container-dashboard {
  /* display: flex; */
  height: auto;
  border-radius: 30px;
  box-shadow: 3px 3px 10px 2px #a9a1a1;
  padding: 10px;
}

.titulo {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 25px;
  padding: 20px;
}

/* .main-title>p {
  font-size: 20px;
  margin-top: 0;
} */

.container-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
  border-top:1px black solid ;
}

.flex-tam1 {
  flex-grow: 1;
}

.name-card {
  display: flex;
  flex-direction: row;
  width: auto;
  color: blue;
  font-size: 30px !important;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  /* border: 1px solid #d2d2d3; */
  /* border-radius: 10px; */
  /* box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2); */
  height: auto;
  gap: 10px;
  border-right: 1px black solid;
}

.identificacao-maquina {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  gap: 700px;
  width: 100%;
}

.bloco-identificacao{
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.infos {
  display: flex;
  width:100%;
  align-items: flex-start;
  font-size: 15px !important;
}

.card .hard-info {
  font-size: 3rem;
}

.card .hard-info .metric {
  font-size: 1.5rem;
}

.computer{
  padding: 20px;
  font-size: 120px;
  position: relative;
  
}

/* 
.card:first-child {
  border-left: 7px solid #246dec;
}

.card:nth-child(2) {
  border-left: 7px solid #f5b74f;
}

.card:nth-child(3) {
  border-left: 7px solid #367952;
}

.card:nth-child(4) {
  border-left: 7px solid #cc3c43;
} */

.card>span {
  font-size: 20px;
  font-weight: 600;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner>p {
  font-size: 18px;
}

.card-inner>span {
  font-size: 35px;
}


.container-chart {
  display: flex;
  height: 100%;
  gap: 30px;

}

/* .chart01{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 29, 59, 1);
  width: 30%;
  height: 350px;
  border-radius: 30px;
  box-shadow: -5px 3px 8px -1.5px aliceblue;
} */
/* 
#nome-hardware{
  margin-left: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #001233;
} */

/* #data{
  margin-left: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: aliceblue;
} */

/* .chart02 {
  display: flex;
  background-color: rgba(0, 29, 59, 0.5);
  color: aliceblue;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 350px;
  border-radius: 30px;
  box-shadow: -5px 5px 7px aliceblue;
} */

/* Teste */

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 1.2;
}

.percentage {
  fill: #000000;
  font-size: 0.5em;
  text-anchor: middle;
  font-weight: 400;
}

.circle {
  fill: none;
  stroke-width: 1.6;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  color: #000000;
}

.chart-svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 90px;
  min-width: 40px;
  flex: 1;
  height: 80px;
}

.circular-chart {
  padding: 10px;
  height: 140px;
  margin: 12px 0 12px 0;

  &.orange {
    .circle {
      stroke: #ff9f00
    }

    .circle-bg {
      stroke: #776547
    }
  }

  &.blue {
    .circle {
      stroke: #00cfde
    }

    .circle-bg {
      stroke: #557b88
    }
  }

  &.pink {
    .circle {
      stroke: #ff7dcb
    }

    .circle-bg {
      stroke: #6f5684;
    }
  }
}