.container-relatorios {
    display: none;
    background-color: rgb(236, 236, 236);
    height: 300px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 2px #d6d6d6;
}

.titulo {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 20px;
    color: black;
}

.coluna {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    gap: 5px;
    border-right: 1px black solid;
}

.tam1 {
    flex-grow: 1;
}

.titulo-coluna {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #a1dce2;
    border-bottom: 1px black solid;
}

.dados {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* 
tabela */

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  
  
  /* general styling */
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }
  
  .container-config input{
    padding: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
      font-family: montserrat;
      color: #2C3E50;
      font-size: 13px;
  }
  