@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* navegação */

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: #151515;
  height: 10vh;
}


.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}


/* call to action */
#cta {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../assets/bunner.png");
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

#cta h3 {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: 500;
}

#cta h1 {
  margin-bottom: 1em;
  font-size: 5em;
  font-weight: 500;
}

#cta .btn {
  width: 25%;
  height: 10%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.2em;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  background-color: #FFC300;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


#cta .btn:hover {
  background-color: #FFD60A;
}


/* Benefits section */
#key-benefits h2 {
  color: #fff;
  background-color: #003566;
  text-align: center;
  padding: 2em;
  font-size: 2em;
  font-weight: 500;
}

.benefits {
  display: flex;
  justify-content: space-around;
  padding: 4em;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}

.benefit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  color: var(--text-tertiary);


}

.benefit .benefit-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
}

#benefit-1 {
  background-image: url("../assets/06.jpg");
}

#benefit-2 {
  background-image: url("../assets/06.jpg");
}

#benefit-3 {
  background-image: url("../assets/06.jpg");
}


/* sobre nós */

#about-us {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../assets/embalagem-de-caixa-de-papel-para-conceito-de-entrega.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color);
  margin-bottom: 3em;
}

#about,
#about-div {
  max-width: 30%;
}

#about {
  display: flex;
}

#about i {
  color: var(--primary);
  font-size: 4em;
  margin-right: 0.5em;
}

#about-details {
  text-align: center;
  font-size: 1.3em;
}

#about-div h3 {
  color: #FFC300;
  font-size: 2.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

#about-div p {
  line-height: 1.5em;
  color: #fff;
}

/* section1 */
.section-project {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 100vh;

}

.area-title h3 {
  color: #23232e;
  font-weight: normal;
  margin-bottom: 20px;

}

.area-title h1 {
  color: #23232e;
  font-size: 45px;
  line-height: 50px;
  margin-top: -16px;

}

.area-title a {
  display: inline-block;
  background-color: #FFC300;
  margin-top: 20px;
  padding: 15px 60px;
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image1 img {
  width: 460px;
  height: auto;
  margin-top: 20px;
  margin-left: 55px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 5%;
}


/* footer */

footer {
  bottom: 0px;
  width: 100%;
  background: #003566;
  color: #fff;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
  margin: 50px;
}

.box h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:after {
  position: absolute;
  content: '';
  width: 15%;
  height: 2px;
  background: #FFC300;
  top: -10px;
}

.box .content:before {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background: #1a1a1a;
  top: -10px;
}

/* social */
.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  width: 40px;
  height: 40px;

  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: #FFC300;
}

.left .content p {
  text-align: justify;
}

.center .content .fas {
  font-size: 23px;
  background: #FFC300;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #f12020;
}

.center .content .text {
  font-size: 17px;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone {
  margin: 10px 0;
}

.center .content .msg {
  margin-top: 10px;
}

/* forms footer */
.right form input,
.right form textarea {
  width: 100%;
  font-size: 17px;
  background: #fff;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
}

.right form input {
  height: 35px;
}

.right form input:focus,
.right form textarea:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border-bottom: #FFC300 5px solid;
}

.right form .text {
  font-size: 17px;
  margin-bottom: 2px;
  color: #fff;
}

.right form .btn {
  margin-top: 10px;
}

.right form .btn button {
  width: 50%;
  height: 10%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.2em;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  background-color: #FFC300;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.right form .btn button:hover {
  background: #FFD60A;
}

/* <!--main-content--> */
.bottom .center {
  padding: 5px;
  font-size: 15px;
  background: #151515;
  text-align: center;
}

.bottom .center span {
  color: #656565;
}

.bottom .center a {
  color: #fff;
  text-decoration: none;
}

.bottom .center a:hover {
  text-decoration: underline;
}



@media (max-width: 999px) {

  /* mobile navegação */
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  #location {
    display: block;
    padding: 50px;
  }

  #about-location {
    margin: -15px 0;
    max-width: 100%;
    text-align: center;
  }

  #about-location p {
    text-align: justify;

  }


  /* Call to Action Section */
  #cta .btn {
    width: 50%;
    height: 10%;

  }

  #cta h3 {
    font-size: 1.5em;
    margin-top: 30px;

  }

  #cta h1 {
    font-size: 2em;
    font-weight: bolder;
  }

  #cta .btn:hover {
    background-color: #FFD60A;
  }

  /* Benefits section */
  .benefits {
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 2em;
  }

  .benefit {
    max-width: 100%;
    margin-bottom: 2em;
  }


  /* sobre nós/ about us */
  #about-us {
    flex-direction: column;
    background-size: cover;
    height: auto;
    text-align: center;
    padding: 2em 0;

  }

  #about {
    order: 2;
    flex-direction: column;
    max-width: 100%;
  }

  #about i {
    margin: 0.3em 0;
  }

  #about-div {
    order: 1;
    max-width: 100%;
    height: 50vh;
  }

  #about-div h3 {
    margin-bottom: 0;
  }

  #about-div p {
    margin-top: 5vh;
    text-align: justify;
    width: 250px;
  }

  .section-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 2em;
    height: 100vh;
    margin: 5em 0;


  }


  .area-title h3 {
    color: #23232e;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 1em;


  }

  .area-title h1 {
    color: #23232e;
    font-size: 1.5;
    line-height: 50px;
    margin-top: -16px;

  }

  .area-title a {
    display: inline-block;
    background-color: #FFC300;
    margin-top: 20px;
    padding: 15px 60px;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
  }

  .image1 img {

    width: 100%;
    margin: 2em 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 5%;
  }



  /* footer */
  footer {

    bottom: 0px;
  }

  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .main-content .box {
    margin: 5px 0 !important;
  }



}

.nav-list.active {
  transform: translateX(0);
}

/* animação de transição aplicada ao menu */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}