@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

body {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #003566;
  color: #666666;
  font-family: 'Poppins', sans-serif;
}



.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

.text-primary {
  color: #666666;
}

.text-blue {
  color: #246dec;
}

.text-red {
  color: #cc3c43;
}

.text-green {
  color: #367952;
}

.text-orange {
  color: #f5b74f;
}

.font-weight-bold {
  font-weight: 600;
  color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header"
    "sidebar main main";
  height: 100vh;
}


/* ---------- HEADER ---------- */

.header {
  grid-area: header;
  height: 70px;
  background-color: #001d3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}


.client-name-p {
  margin-bottom: 0px;

}

.header-right a {
  text-decoration: none;
  color: #ffffff;
}

.menu-icon {
  display: none;
}


/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #001233;
  color: #9799ab;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-left: 5px solid #FFC300;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

#logo {

  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;



}

.sidebar-title>span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
  margin-left: 20px;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
}

.sidebar-list-item:hover {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #003566;
  cursor: pointer;

}

.material-icons-outlined:hover {
  color: #ffffff;
}



.sidebar-list-item>a {
  text-decoration: none;
  color: #9799ab;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
  z-index: 12 !important;
}


/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-title>p {
  font-size: 20px;
}

.main-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  margin: 20px 0;
}

.flex-tam1 {
  flex-grow: 1;
}

.name-card{
  width: 3px;
  color: green;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card .hard-info {
  font-size: 3rem;
}

.card .hard-info .metric {
  font-size: 1.5rem;
}



.card:first-child {
  border-left: 7px solid #246dec;
}

.card:nth-child(2) {
  border-left: 7px solid #f5b74f;
}

.card:nth-child(3) {
  border-left: 7px solid #367952;
}

.card:nth-child(4) {
  border-left: 7px solid #cc3c43;
}

.card>span {
  font-size: 20px;
  font-weight: 600;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner>p {
  font-size: 18px;
}

.card-inner>span {
  font-size: 35px;
}


.container-chart{
  display: flex;
  height: 100%;
  gap: 40px;

}

.chart01{
  display: flex;
  margin: 0;
  background-color: white;
  width: 400px;
  height: 400px;
}

.charts-card {
  background-color: #ffffff;
  margin-bottom: 20px;
  width: 400px;
  height: 400px;
}


/* ---------- SCROLLBARS ---------- */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #FFC300;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}


/* ---------- MEDIA QUERIES ---------- */


/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title>span {
    display: inline;
  }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }


}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}